
@model EventApplication.Models.Events

odel EventApplication.Models.Events

<div class=" panel panel-primary">
    <div class=" panel-heading">
        <h3 class=" panel-title">Your Last Minute Deal:@Model.EventTitle</h3>
    </div>
    <div id=" event-details">
        <p>
            <em>Event</em>
            @Model.EventTitle
        </p>
        <p>
            <em>Start Date</em>
            @Model.EventStartDate
        </p>
        <p>
            <em>City</em>
            @Model.City
        </p>
        <p>
            <em>State</em>
            @Model.State
        </p>
    </div>

    @Html.ActionLink("Add to cart", "AddToCart", "OrderCart",
    new { id = Model.EventsId },
    new { @class = "btn btn-primary" })
</div>

