@model IEnumerable<EventApplication.Models.Events>




<div>

    <table>
        <tr>
            <th>Event Title</th>
            <th>Event Start Date</th>
            <


        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>



                    @item.EventTitle

                </td>


                <td>
                    @item.EventStartDate
                </td>





                <td>

                    @Html.ActionLink("Edit", "Edit", new { id = item.EventsId })

                </td>

                <td>
                    @Html.ActionLink("Details", "Details", "Events")
                </td>
                <td>

                    @Html.ActionLink("Delete", "Delete", new { id = item.EventsId })
                </td>
            </tr>

        }
    </table>
</div>
